<section class="content">
  <div class="content-block">
    @for (breadscrum of breadscrums; track breadscrum) {
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb
        [title]="breadscrum.title"
        [items]="breadscrum.items"
        [active_item]="breadscrum.active"
      >
      </app-breadcrumb>
    </div>
    }
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Servicios de barber destiny</h2>
          </div>

          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <div class="card">
              <div class="header">
                <h2>Servicios</h2>
              </div>
              <div class="body">
                <div class="example-container">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label>Nombre del servicio</mat-label>
                    <input matInput />
                  </mat-form-field>
                  <br />

                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                  <mat-label>Código</mat-label>
                    <input matInput />
                  </mat-form-field>
                  <br />
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                  <mat-label>Precio</mat-label>
                    <input matInput />
                  </mat-form-field>
                  <br />
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                  <mat-label>Descripción</mat-label>
                    <input matInput />
                  </mat-form-field>
                  <br />
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                  
                  <mat-label>Select</mat-label>
                    <mat-select>
                      <mat-option value="option1">Option 1</mat-option>
                      <mat-option value="option2">Option 2</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <br />
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label>Textarea</mat-label>
                    <textarea matInput></textarea>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
    

      </div>
    </div>
  </div>
</section>
