<section class="content">
  <div class="content-block">
    @for (breadscrum of breadscrums; track breadscrum) {
      <div class="block-header">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
        </app-breadcrumb>
      </div>
    }
    <!-- Google Maps -->
 
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="header">
            <h4>Destiny Barber</h4>
          </div>
          <div class="card-body">

                <google-map height="400px" width="100%" [center]="center" [zoom]="zoom">
                  <map-marker
                    *ngFor="let loc of locations"
                    [position]="loc.position"
                    [title]="loc.name"
                    (mapClick)="selected = loc; infoWindow.open()">
                  </map-marker>

                  <map-info-window>
                    <strong>{{ selected?.name }}</strong><br>
                    {{ selected?.address }}<br>
                    <a [href]="selected?.link" target="_blank">Ver en Google Maps</a>
                  </map-info-window>
                    <div class="map-info">
                    <h3>Destiny Barber</h3>
                    <p>Av. 23, Plaza San Carlos</p>
                    <p>Tel: +506 8888-8888</p>
                  </div>
                </google-map>




          </div>
        </div>
      </div>
    </div>

  </div>
</section>
